# Dependências (Nunca suba esta pasta)
node_modules/
jspm_packages/

# prisma
/src/generated/prisma

#variáveis de ambiente
.env.local
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Build e Saída (Se usar TypeScript ou Bundlers)
dist/
build/
out/

# Cache de ferramentas
.npm
.eslintcache
.node_repl_history

# Arquivos de sistema e IDEs
.DS_Store
.vscode/
.idea/
*.swp